@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.outer-box {
    width: 100vw;
    height: 100vh;
   background: linear-gradient(to top left,#3ed8ff,#a8f5ff);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color: white; */
    background: linear-gradient(to top left,#ffffffaa,#ffffffc0);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 8px 8px 5px #1e6492;
    z-index: 2;
}
.signup-header h1{
    color: #212121;
    font-size: 2.7rem;
}

.signup-header p{
    color: #555;
    font: 0.9rem;
}
.signup-body{
    margin: 20px 0px;
    font-weight: bold;
}
.signup-body p{
    margin: 10px 0px;
}
.signup-body p label{
    display: block;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #1e6492;
}
.signup-footer p{
    text-align: center;
}
.signup-footer p a{
    color: #1e6492;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background:linear-gradient(to top right,#ffffffaa,#ffffffaa);
    position: absolute;
}
.c1{
    top: 200px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}



















